.accordion-item {
  padding: 16px;
  border: 2px solid lightgrey;
  border-radius: 3px;
}
/* adjacent accordion children should not have a border top to avoid a second border */
.accordion-item + .accordion-item {
  border-top: 0px;
}

.accordion-header button {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 0px;
}

.accordion-header button:focus,
.accordion-header button:active {
  border: none;
  outline: none;
}

.accordion-header__icon {
  margin-left: 15px;
}

.accordion-content {
  padding-bottom: 24px;
  padding-top: 24px;
}
